/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.kartu-profil {
    background-color: rgb(1, 58, 1);
    border-radius: 16px;
    padding: 40px;
    max-width: 500px;
    width: 100%;
    border: 1px solid #00b318;
}

h1 {
    font-size: 28px;
    color: #51ff00;
    margin-bottom: 6px;
}

.tagline {
    color: #37ca68;
    font-size: 14px;
    margin-bottom: 24px;
}

h2 {
    font-size: 16px;
    color: #51ff00;
    margin: 20px 0 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul {
    padding-left: 20px;
    line-height: 1.8;
}

.kontak {
    margin-top: 24px;
    padding: 6px;
    background: #092e0b;
    border-radius: 8px;
    font-size: 14px;
    color: #67cfff;
}

.IG {
    margin-top: 24px;
    padding: 6px;
    background: #092e0b;
    border-radius: 8px;
    font-size: 14px;
    color: #67ff67;
}